<div class="rivs-user-img" style="
  background:url('{{riv.user.profile_photo}}');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;">
</div>
<div class="rivs-content">
  <strong><a ng-href="#!/{{riv.user.username}}">{{riv.user.display_name || riv.user.username}}</a></strong> <span ng-if="!riv.reply" class="at-user">@{{riv.user.username}}</span>
  <!-- if reply/correction -->
  <!-- reply -->
  <span ng-if="riv.reply && !riv.riv.correction" class="at-user">replied to</span>
  <!-- correction -->
  <span ng-if="riv.reply && riv.riv.correction" class="at-user">corrected</span>
  <!-- replied to/corrected user -->
  <strong ng-if="riv.reply"><a ng-href="#!/{{riv.riv.riv.user.username}}">{{riv.riv.riv.user.display_name || riv.riv.riv.user.username}}</a></strong><br />
  <!-- original riv if correction -->
  <s ng-if="riv.riv.correction" class="correction">{{riv.riv.riv.content}}</s> <br ng-if="riv.riv.correction" />
  <!-- riv content -->
  <span ng-class="{'correction': riv.riv.correction, 'normal': !riv.riv.correction}">{{riv.riv.content}}</span>
  <div ng-if="riv.riv.photo" class="rivs-photo" style="background: url('{{riv.riv.photo}}'); background-size: cover; background-position: center; background-repeat: no-repeat;" ng-click="vm.modalToggle('image', riv)"></div>
  <div class="rivs-actions">
    <!-- like if regular riv -->
    <i class="fa fa-star" aria-hidden="true" ng-if="!riv.reply && !riv.liked"
    ng-click="vm.favoriteRivReply('riv', currentUser.id, riv)" ng-class="{'liked': riv.liked}"></i>
    <!-- like if reply -->
    <i class="fa fa-star" aria-hidden="true" ng-if="riv.reply && !riv.liked"
    ng-click="vm.favoriteRivReply('reply', currentUser.id, riv)"></i>
    <!-- if already liked -->
    <i class="fa fa-star liked" aria-hidden="true" ng-if="riv.liked"
    ng-click="vm.unfavoriteRivReply(riv)"></i>
    <!-- reply -->
    <i class="fa fa-reply" aria-hidden="true" ng-if="!riv.reply" ng-click="vm.toggleAction('reply', riv)"></i>
    <!-- correct -->
    <i class="fa fa-wrench" aria-hidden="true" ng-if="!riv.reply" ng-click="vm.toggleAction('correction', riv)"></i>
    <!-- translate -->
    <i class="fa fa-globe" aria-hidden="true" ng-click="vm.toggleAction('translate', riv)"></i>
    <!-- details -->
    <i class="fa fa-search" aria-hidden="true" ng-click="vm.modalToggle('details', riv)"></i>
    <!-- delete if regular riv -->
    <i class="fa fa-trash" aria-hidden="true" ng-if="(currentUser.id === riv.user.id) && !riv.reply" ng-click="vm.deleteOneRiv(riv.riv.id)"></i>
    <!-- delete if reply -->
    <i class="fa fa-trash" aria-hidden="true" ng-if="(currentUser.id === riv.user.id) && riv.reply" ng-click="vm.deleteOneReply(riv.riv.id)"></i>
  </div>
</div>
<!-- ==== REPLY BOX ======================== -->
<div class="rivs-reply" ng-if="riv.replyBox" ng-include="'../partials/riv-forms/reply.html'"></div>
<!-- ==== CORRECTION BOX =================== -->
<div class="rivs-correction" ng-if="riv.correctionBox"  ng-include="'../partials/riv-forms/correct.html'"></div>
<!-- ==== TRANSLATION BOX ================== -->
<div class="rivs-translation" ng-if="riv.translationBox" ng-include="'../partials/riv-forms/translate.html'"></div>
