<!-- ============= REGISTRATION MODAL ============= -->
<section class="modal" ng-if="vm.showEdit">
  <div class="registration-container">
    <div class="close" ng-click="vm.modalToggle('edit')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="registration-info">
      <div>
        <h1>EDIT PROFILE</h1>
      </div>
    </div>
    <div class="registration-form">
      <form ng-submit="vm.register();">
        <h1>account details</h1>
        <input type="text" ng-model="vm.newUserData.username" placeholder="username">
        <input type="password" ng-model="vm.newUserData.password" placeholder="password">
        <input type="text" ng-model="vm.newUserData.display_name" placeholder="display name">
        <input type="text" ng-model="vm.newUserData.profile_photo" placeholder="profile photo">
        <h1>user details</h1>
        <input type="text" ng-model="vm.newUserData.language_learning" placeholder="language learning">
        <input type="text" ng-model="vm.newUserData.language_known" placeholder="language known">
        <input type="text" ng-model="vm.newUserData.biography" placeholder="a short bio" /><br />
        <input type="submit" value="edit" />
      </form>
    </div>
  </div>
</section>
