<!-- ============= REGISTRATION MODAL ============= -->
<section class="modal" ng-if="vm.showEdit">
  <div class="registration-container">
    <div class="close" ng-click="vm.modalToggle('edit')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="registration-info">
      <div>
        <h1>EDIT PROFILE</h1>
        <p>
          username and password are required, even if you don't change it!
        </p>
      </div>
    </div>
    <div class="registration-form">
      <form ng-submit="vm.editUser();">
        <h1>account details</h1>
        <input type="text" ng-model="vm.profileUser.username" placeholder="USERNAME">
        <input type="password" ng-model="vm.profileUser.password" placeholder="PASSWORD">
        <input type="text" ng-model="vm.profileUser.display_name" placeholder="DISPLAY NAME">
        <input type="text" ng-model="vm.profileUser.profile_photo" placeholder="PROFILE PHOTO">
        <h1>user details</h1>
        <section class="languages">
          <strong>LANGUAGE LEARNING</strong>
          <select ng-model="vm.profileUser.language_learning">
            <option ng-repeat="lang in vm.languages" value="{{lang.languageName}}">{{lang.languageName}}</option>
          </select><br/>
          <strong>LANGUAGE KNOWN</strong>
          <select ng-model="vm.profileUser.language_known">
            <option ng-repeat="lang in vm.languages" value="{{lang.languageName}}">{{lang.languageName}}</option>
          </select>
        </section>
        <input type="text" ng-model="vm.profileUser.biography" placeholder="A SHORT BIO" /><br />
        <input type="submit" value="edit" />
      </form>
    </div>
  </div>
</section>
