<!-- ============= REGISTRATION MODAL ============= -->
<section class="modal" ng-if="vm.showRegister">
  <div class="registration-container">
    <div class="close" ng-click="vm.modalToggle('register')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="registration-info">
      <div>
        <h1>REGISTER NOW</h1>
        <p>
          rivetr is a twitter-esque app tailored for language learners. join to post statuses (called rivs) in the language you're learning, talk to native speakers, let them correct your grammar, and pay it forward by helping others with your native language!
        </p>
      </div>
    </div>
    <div class="registration-form">
      <form ng-submit="vm.register();">
        <h1>account details</h1>
        <input type="text" ng-model="vm.newUserData.username" placeholder="USERNAME">
        <input type="password" ng-model="vm.newUserData.password" placeholder="PASSWORD">
        <input type="text" ng-model="vm.newUserData.display_name" placeholder="DISPLAY NAME">
        <input type="text" ng-model="vm.newUserData.profile_photo" placeholder="PROFILE PHOTO">
        <h1>user details</h1>
        <section class="languages">
          <strong>LANGUAGE LEARNING</strong>
          <select ng-model="vm.newUserData.language_learning">
            <option ng-repeat="lang in vm.languages" value="{{lang.languageName}}">{{lang.languageName}}</option>
          </select><br/>
          <strong>LANGUAGE KNOWN</strong>
          <select ng-model="vm.newUserData.language_known">
            <option ng-repeat="lang in vm.languages" value="{{lang.languageName}}">{{lang.languageName}}</option>
          </select>
        </section>
        <input type="text" ng-model="vm.newUserData.biography" placeholder="A SHORT BIO" /><br />
        <input type="submit" value="REGISTER" />
      </form>
    </div>
  </div>
</section>
