<!-- =============== MODALS =============== -->
<section ng-include="'../partials/modals/image.html'"></section>
<section ng-include="'../partials/modals/riv.html'"></section>
<!-- ================= NAVIGATION ================= -->
<section ng-include="'../partials/navbar.html'"></section>
<div class="home-nav"></div>

<!-- ============== START HOME PG ================= -->
<section class="home-container">

  <!-- ============ USER STATS ==================== -->
  <div class="user-stats">
    <h3 class="med">{{currentUser.display_name}}</h3>
    <div class="user-content">
      <div class="user-img" style="background:url('{{currentUser.profile_photo}}'); background-size:cover;background-position:center"></div>
      <div class="user-num">
        <div class="row">
          <span>
            <strong>learning</strong>
            {{currentUser.language_learning}}
          </span>
          <span>
            <strong>known</strong>
            {{currentUser.language_known}}
          </span>
        </div>
        <div class="row">
          <span>
            <strong>followers</strong>
            {{currentUser.follower_follows.length}}
          </span>
          <span>
            <strong>following</strong>
            {{currentUser.followed_follows.length}}
          </span>
        </div>
      </div>
    </div>
    <div class="user-about">
      <h3 class="med">ABOUT</h3>
      <h3 class="small">ABOUT {{currentUser.display_name}}</h3>
      <span>{{currentUser.biography}}</span>
    </div>
  </div>

  <!-- ============ TIMELINE ====================== -->
  <div class="timeline">
    <!-- ========== TIMELINE FILTERS ============== -->
    <div class="timeline-filters">
      <strong>TIMELINE</strong>
      <a ng-class="{selected: vm.following}" ng-click="vm.toggleRivs('following')">following</a>
      <a ng-class="{selected: vm.community}" ng-click="vm.toggleRivs('community')">community</a>
      <a ng-class="{selected: vm.likes}" ng-click="vm.toggleRivs('likes')">likes</a>
    </div>
    <!-- ========== POST RIV FORM & ETC. ACTIONS == -->
    <section class="timeline-actions">
      <section class="row">
        <div class="post-riv">
          <form ng-submit="vm.postRiv(currentUser.id)">
            <textarea ng-model="vm.newPostData.content" placeholder="SHARE YOUR THOUGHTS..."></textarea>
            <input type="text" ng-model="vm.newPostData.photo" ng-if="vm.addPhotoForm" placeholder="ENTER PHOTO URL..."/>
            <input type="submit" value="post riv" />
          </form>
        </div>
        <div class="actions">
          <div class="btn" ng-click="vm.refresh()">
            REFRESH
          </div>
          <div class="btn" ng-click="vm.toggleAction('translator')">
            TRANSLATOR
          </div>
          <div class="btn" ng-click="vm.toggleAction('addPhoto')">
            ADD PHOTO
          </div>
        </div>
      </section>
      <div class="rivs-translation" ng-include="'../partials/riv-forms/translate.html'" ng-if="vm.translator"></div>
    </section>
    <!-- ========== EMPTY MESSAGES ================= -->
    <!-- no following rivs -->
    <div class="empty" ng-if="(compiledRivs.length === 0) && (vm.following)">
      no rivs, post now or follow people!
    </div>
    <!-- no community -->
    <div class="empty" ng-if="(compiledRivs.length === 0) && (vm.community)">
      no users related to that language, invite your friends!
    </div>
    <!-- no likes -->
    <div class="empty" ng-if="(currentUser.likes.length === 0) && (vm.likes)">
      no liked rivs, go like some now!
    </div>
    <!-- ========== FOLLOWED RIVS ================== -->
    <div class="rivs" ng-repeat="riv in compiledRivs | orderBy: '-riv.created_at'" ng-if="(compiledRivs.length > 0) && (vm.following)" ng-include="'../partials/home/following-rivs.html'"></div>
    <!-- ========== COMMUNITY ====================== -->
    <div class="rivs" ng-if="vm.community" ng-include="'../partials/home/community.html'"></div>
    <!-- ========== LIKED RIVS ===================== -->
    <div class="rivs home-liked" ng-repeat="liked in currentUser.likes | orderBy: '-liked.created_at'" ng-if="(currentUser.likes.length > 0) && (vm.likes)" ng-include="'../partials/home/liked-rivs.html'"></div>
    <!-- ========== GO BACK TO TOP ================= -->
    <div class="window-top">
      <a ng-click="vm.goToTop();">GO BACK TO TOP</a>
    </div>
  </div>
<!-- ============== END HOME PG =================== -->
</section>
