<!-- ================= NAVIGATION ================= -->
<nav>
  <section class="logo">
    rivetr.
  </section>
  <section class="nav-links">
    <ul>
      <li>link</li>
      <li>link</li>
      <li>link</li>
    </ul>
  </section>
</nav>

<!-- ============== START LANDING PG ============== -->
<section class="landing-container">

  <!-- ============== BOX 1 (LEFT, ACCENT) ========== -->
  <section class="accent-box">
    <div class="accent">
      hello world
    </div>
  </section>

  <!-- ============ BOX 2 (RIGHT, INFO) ============= -->
  <section class="info-box">
    <div class="info">
      <h1>RIVETR</h1>
      <p>
        we aim to join your language learning and everyday life together and have you so engrossed by the new language so that soon enough, it's no longer foreign
      </p>
    </div>
  </section>

<!-- ============== END LANDING PG ================ -->
</section>








<!-- ================= FORM TESTS ================= -->
<!-- <h1>register</h1>
<form ng-submit="vm.register();">
  <input type="text" ng-model="vm.newUserData.username" placeholder="username">
  <input type="text" ng-model="vm.newUserData.password" placeholder="password">
  <input type="text" ng-model="vm.newUserData.display_name" placeholder="display name">
  <input type="text" ng-model="vm.newUserData.profile_photo" placeholder="profile photo">
  <input type="text" ng-model="vm.newUserData.language_learning" placeholder="language learning">
  <input type="text" ng-model="vm.newUserData.language_known" placeholder="language known">
  <input type="submit" value="register" />
</form> -->

<!-- <h2>riv</h2>
<form ng-submit="vm.postRiv();">
  <input type="text" ng-model="vm.newRivData.content" placeholder="share your thoughts" />
  <input type="number" ng-model="vm.newRivData.user_id" />
  <input type="submit" />
</form> -->

<!-- <h2>login</h2>
<form ng-submit="vm.login();">
  <input type="text" ng-model="vm.loginData.username" placeholder="username" />
  <input type="password" ng-model="vm.loginData.password" placeholder="password"/>
  <input type="submit" />
</form>

{{currentUser.username}} -->

<!-- <h2>logout</h2>
<div ng-click="vm.logout();">
  logout
</div> -->
