<!-- ================= NAVIGATION ================= -->
<section ng-include="'../partials/navbar.html'"></section>

<!-- ============== START PROFILE PG ============== -->
<section class="profile-container">

  <!-- ============ PROFILE STATS ================= -->
  <section ng-class="{'profile-stats-container': fullHeader, 'profile-stats-scroll': !fullHeader}" class="profile-stats-transition">
    <div class="profile-stats">
      <div class="profile-img" style="
        background:url('{{vm.profileUser.profile_photo}}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;">
      </div>
      <div class="profile-nums">
        <h1>{{vm.profileUser.display_name || vm.profileUser.username}}</h1>
        <div class="row">
          <span>
            <strong>LEARNING</strong>
            {{vm.profileUser.language_learning}}</span>
          <span>
            <strong>KNOWN</strong>
            {{vm.profileUser.language_known}}
          </span>
        </div>
        <div class="row">
          <span>
            <strong>FOLLOWERS</strong>
             {{vm.profileUser.follower_follows.length}}
           </span>
          <span>
            <strong>FOLLOWING</strong>
             {{vm.profileUser.followed_follows.length}}
           </span>
        </div>
      </div>
    </div>
  </section>
  <!-- ============ PROFILE CONTENT ================== -->
  <section class="content-container" scroll>
    <!-- ========== SIDEBAR CONTENT ================== -->
    <div class="sidebar-container" ng-class="{'fixed': !fullHeader}">
      <!-- ======== ACTION BUTTONS =================== -->
      <div class="sidebar-buttons">
        <!-- ====== IF PROFILE OF USER =============== -->
        <div class="btn" ng-if="vm.isCurrentUser" ng-click="vm.modalToggle('edit');">
          EDIT PROFILE
        </div>
        <div class="btn" ng-if="vm.isCurrentUser" ng-click="vm.deleteChain();">
          DELETE PROFILE
        </div>
        <!-- ====== IF NOT USER ====================== -->
        <div class="btn" ng-if="!vm.isCurrentUser && !vm.followed" ng-click="vm.followUser(currentUser.id, vm.profileUser.id)">
          FOLLOW
        </div>
        <div class="btn" ng-if="!vm.isCurrentUser && vm.followed" ng-click="vm.unfollowUser(currentUser.id, vm.profileUser.id)">
          UNFOLLOW
        </div>
        <div class="btn" ng-if="!vm.isCurrentUser">
          MESSAGE
        </div>
      </div>
      <!-- ======== PROFILE BIOGRAPHY ================ -->
      <div class="sidebar-bio" ng-if="vm.profileUser.biography">
        <h3>about {{vm.profileUser.display_name || vm.profileUser.username}}</h3>
        <p>
          {{vm.profileUser.biography}}
        </p>
      </div>
      <!-- ======== PROFILE FOLLOWS ================== -->
      <div class="sidebar-follow">
        <div class="sidebar-follow-links">
          <a ng-class="{selected: vm.followers}" ng-click="vm.toggleFollow('followers')">followers</a> <a ng-class="{selected: vm.following}" ng-click="vm.toggleFollow('following')">following</a>
        </div>
        <div class="sidebar-followers-container">
          <!-- === IF NO FOLLOWERS/FOLLOWING ======= -->
          <div class="empty" ng-if="(vm.profileUser.follower_follows.length === 0) && (vm.followers)">
            {{vm.profileUser.display_name || vm.profileUser.username}} has no followers
          </div>
          <div class="empty" ng-if="(vm.profileUser.followed_follows.length === 0) && (vm.following)">
            {{vm.profileUser.display_name || vm.profileUser.username}} isn't following anyone
          </div>
          <!-- === FOLLOWERS ======================= -->
          <div class="sidebar-followers" ng-if="(vm.profileUser.follower_follows.length > 0) && (vm.followers)" ng-repeat="follower in vm.profileUser.follower_follows">
            <div class="follow-img" style="background: url('{{follower.follower.profile_photo}}'); background-size: cover; background-position: center;"></div>
            <div class="follow-info">
              <h3><a ng-href="http://localhost:8000/#!/{{follower.follower.username}}">{{follower.follower.display_name}}</a></h3>
              @ {{follower.follower.username}}
            </div>
          </div>
          <!-- === FOLLOWING ======================= -->
          <div class="sidebar-followers" ng-if="(vm.profileUser.followed_follows.length > 0) && (vm.following)" ng-repeat="following in vm.profileUser.followed_follows">
            <div class="follow-img" style="background: url('{{following.followed.profile_photo}}'); background-size: cover; background-position: center;"></div>
            <div class="follow-info">
              <h3><a ng-href="http://localhost:8000/#!/{{following.followed.username}}">{{following.followed.display_name}}</a></h3>
              @{{following.followed.username}}
            </div>
          </div>
          <!-- === END FOLLOWS ====================== -->
        </div>
      </div>
    </div>
    <!-- ========== RIV CONTENT ===================== -->
    <div class="rivs-container">
      <!-- ======== RIV FILTERS ===================== -->
      <div class="rivs-filters">
        <strong>{{vm.profileUser.display_name || vm.profileUser.username}}'s rivs</strong> <a ng-class="{selected: vm.personal}" ng-click="vm.toggleRivs('personal')">personal</a> <a ng-class="{selected: vm.replies}" ng-click="vm.toggleRivs('replies')">replies</a> <a ng-class="{selected: vm.corrections}" ng-click="vm.toggleRivs('corrections')">corrections</a>
      </div>
      <!-- ======= RIVS (PERSONAL) ================= -->
      <div class="empty" ng-if="(vm.profileUser.rivs.length === 0) && vm.personal">
        {{vm.profileUser.display_name || vm.profileUser.username}} has no rivs
      </div>
      <div class="rivs" ng-if="(vm.profileUser.rivs.length > 0) && (vm.personal)" ng-repeat="riv in vm.profileUser.rivs">
        <div class="rivs-user-img" style="
          background:url('{{vm.profileUser.profile_photo}}');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;" ng-click="vm.modalToggle('image', $index)">
        </div>
        <div class="rivs-content">
          <strong>{{vm.profileUser.display_name || vm.profileUser.username}}</strong> <span>@{{vm.profileUser.username}}</span><br />
          {{riv.content}}
          <div ng-if="riv.photo" class="rivs-photo" style="background: url('{{riv.photo}}'); background-size: cover; background-position: center; background-repeat: no-repeat;" ng-click="vm.modalToggle('image', riv)"></div>
          <div class="rivs-actions">
            <i class="fa fa-star" aria-hidden="true" ng-click="vm.favoriteRivReply('riv', currentUser.id, riv)" ng-class="{'liked': riv.liked}"></i>
            <i class="fa fa-reply" aria-hidden="true" ng-click="vm.toggleAction('reply', riv)"></i>
            <i class="fa fa-wrench" aria-hidden="true"  ng-click="vm.toggleAction('correction', riv)"></i>
            <i class="fa fa-globe" aria-hidden="true" ng-click="vm.toggleAction('translate', riv)"></i>
            <i class="fa fa-trash" aria-hidden="true" ng-if="vm.isCurrentUser" ng-click="vm.deleteOneRiv(riv.id)"></i>
          </div>
        </div>
        <!-- ==== REPLY BOX ======================== -->
        <div class="rivs-reply" ng-if="riv.replyBox">
          <form>
            <textarea></textarea>
            <input type="submit" value="reply" />
          </form>
        </div>
        <!-- ==== CORRECTION BOX =================== -->
        <div class="rivs-correction" ng-if="riv.correctionBox">
          <form>
            <textarea>{{riv.content}}</textarea>
            <input type="submit" value="correct" />
          </form>
        </div>
        <!-- ==== TRANSLATION BOX ================== -->
        <div class="rivs-translation" ng-if="riv.translationBox">
          <form>
            <textarea>{{riv.content}}</textarea>
            <center>
              <strong>translate from</strong>
              <select>
                <option>language</option>
              </select>
              <strong>translate to</strong>
              <select>
                <option>language</option>
              </select>
            </center>
            <input type="submit" value="translate" />
          </form>
        </div>
      </div>
      <!-- ======= RIVS (REPLIES) ================= -->
      <div class="empty" ng-if="(vm.profileUser.replies.length === 0) && vm.replies">
        {{vm.profileUser.display_name || vm.profileUser.username}} has no replies
      </div>
      <div class="rivs" ng-repeat="reply in vm.profileUser.replies" ng-if="(vm.profileUser.replies.length > 0) && (vm.replies) && (!reply.correction)">
        <div class="rivs-user-img" style="
          background:url('{{vm.profileUser.profile_photo}}');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;" ng-click="vm.modalToggle('image', $index)">
        </div>
        <div class="rivs-content">
          <strong>{{vm.profileUser.display_name || vm.profileUser.username}}</strong> <span>@{{vm.profileUser.username}}</span><br />
          {{reply.content}}
          <div ng-if="reply.photo" class="rivs-photo" style="background: url('{{reply.photo}}'); background-size: cover; background-position: center; background-repeat: no-repeat;" ng-click="vm.modalToggle('image', reply)"></div>
          <div class="rivs-actions">
            <i class="fa fa-star" aria-hidden="true" ng-click="vm.favoriteRivReply('reply', currentUser.id, reply)" ng-class="{liked: reply.liked}"></i>
            <i class="fa fa-globe" aria-hidden="true" ng-click="vm.toggleAction('translate', reply)"></i>
            <i class="fa fa-trash" aria-hidden="true" ng-if="vm.isCurrentUser" ng-click="vm.deleteOneReply(reply.id)"></i>
          </div>
        </div>
        <!-- ==== TRANSLATION BOX ================== -->
        <div class="rivs-translation" ng-if="reply.translationBox">
          <form>
            <textarea>{{reply.content}}</textarea>
            <center>
              <strong>translate from</strong>
              <select>
                <option>language</option>
              </select>
              <strong>translate to</strong>
              <select>
                <option>language</option>
              </select>
            </center>
            <input type="submit" value="translate" />
          </form>
        </div>
      </div>
      <!-- ======= RIVS (CORRECTIONS) ================= -->
      <div class="empty" ng-if="(vm.profileUser.replies.length === 0) && vm.corrections">
        {{vm.profileUser.display_name || vm.profileUser.username}} has no corrections
      </div>
      <div class="rivs" ng-repeat="correction in vm.profileUser.replies" ng-if="(vm.profileUser.replies.length > 0) && (vm.corrections) && (correction.correction)">
        <div class="rivs-user-img" style="
          background:url('{{vm.profileUser.profile_photo}}');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;" ng-click="vm.modalToggle('image', $index)">
        </div>
        <div class="rivs-content">
          <strong>{{vm.profileUser.display_name || vm.profileUser.username}}</strong> <span>@{{vm.profileUser.username}}</span><br />
          {{correction.content}}
          <div ng-if="correction.photo" class="rivs-photo" style="background: url('{{correction.photo}}'); background-size: cover; background-position: center; background-repeat: no-repeat;" ng-click="vm.modalToggle('image', correction)"></div>
          <div class="rivs-actions">
            <i class="fa fa-star" aria-hidden="true" ng-click="vm.favoriteRivReply('reply', currentUser.id, correction)" ng-class="{liked: correction.liked}"></i>
            <i class="fa fa-globe" aria-hidden="true" ng-click="vm.toggleAction('translate', correction)"></i>
            <i class="fa fa-trash" aria-hidden="true" ng-if="vm.isCurrentUser" ng-click="vm.deleteOneReply(correction.id)"></i>
          </div>
        </div>
        <!-- ==== TRANSLATION BOX ================== -->
        <div class="rivs-translation" ng-if="correction.translationBox">
          <form>
            <textarea>{{correction.content}}</textarea>
            <center>
              <strong>translate from</strong>
              <select>
                <option>language</option>
              </select>
              <strong>translate to</strong>
              <select>
                <option>language</option>
              </select>
            </center>
            <input type="submit" value="translate" />
          </form>
        </div>
      </div>
      <!-- ======= RETURN TO TOP =================== -->
      <div class="window-top">
        <a ng-click="vm.goToTop();">GO BACK TO TOP</a>
      </div>
    </div>
  </section>
<!-- ============== END PROFILE PG ================ -->
</section>

<!-- =============== MODALS =============== -->
<section ng-include="'../partials/modals/edit.html'"></section>
<section ng-include="'../partials/modals/image.html'"></section>
