/* ================ VARIABLES =============== */
/* COLORS */
$blue        : #67AECA;
$faded-purp  : #675682;
$purple      : #5F0F4E;
$pink        : #E52A6F;
$grey        : #E9E9E9;

/* FONTS */
$font: 'Open Sans', 'Microsoft YaHei', '微软雅黑', STXihei, '华文细黑', 'MS PGothic', Osaka, 'Apple SD Gothic Neo', sans-serif;
$accent-font: 'Open Sans Condensed', 'Microsoft YaHei', '微软雅黑', STXihei, '华文细黑', 'MS PGothic', Osaka, 'Apple SD Gothic Neo', sans-serif;

/* ================ MIXINS ================== */
/* BREAKPOINTS */
@mixin for-smallest {
  @media(min-width: 600px) { @content; }
}

@mixin for-medium {
  @media(min-width: 900px) { @content; }
}

@mixin for-large {
  @media(min-width: 1200px) { @content; }
}

/* TRANSITION & ANIMATION */
@mixin transition($tr) {
  transition: $tr;
  -moz-transition: $tr;
  -webkit-transition: $tr;
  -o-transition: $tr;
}

@mixin animation($ani) {
  animation: $ani;
  -moz-animation: $ani;
  -webkit-animation: $ani;
  -o-animation: $ani;
}

/* ================ GENERAL ================= */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font;
  background: $grey;
}
a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}
input, textarea, select {
  border: 1px solid darken($grey, 2%);
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  background: whitesmoke;
}
input:focus, textarea:focus, select:focus {
  outline: none;
  border: 1px solid lighten($faded-purp, 25%);
}
input[placeholder] {
  text-transform: uppercase;
  font-family: $font;
  font-size: 10px;
}

/* ================ NAVBAR ================== */
nav {
  width: 100%;
  height: 8vh;
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: white;
  z-index: 2;
  .logo {
    padding: 20px;
    &:hover .logo-name {
      width: 100%;
      @include transition(1.5s ease-in);
    }
  }
  .logo-name {
    width: 0px;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    margin: -3px 0 0 10px;
    font-family: $accent-font;
    font-weight: 700;
    font-size: 23px;
    color: $purple;
    text-transform: uppercase;
    @include transition(1.5s ease-out);
  }
  ul {
    list-style-type: none;
    padding: 20px;
  }
  li {
    display: inline-block;
    margin: 5px 10px;
  }
  a {
    font-family: $accent-font;
    font-weight: 700;
    text-transform: uppercase;
    color: whitesmoke;
    position: relative;
    @include transition(color 0.5s);
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      max-width: 0;
      border-bottom: 2px solid $pink;
      color: $pink;
      content: attr(data-hover);
      @include transition(max-width 0.5s);
    }
    &:hover {
      &::before {
        max-width: 100%;
      }
      color: $pink;
      @include transition(color 1s);
    }
  }
  svg {
    width: 10%;
    color: $pink;
  }
}

/* ================ MODALS ================== */
.modal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 3;
}
.close {
  color: $grey;
  font-size: 20px;
  margin: 5px 10px;
  position: fixed;
  right: 17.5%;
  i {
    @include transition(0.5s ease-in);
    &:hover {
      cursor: pointer;
      color: darken($grey, 50%);
      @include transition(0.5s ease-in);
    }
  }
}
.image-close {
  top: 0;
  right: 0;
}
/* SHARED */
.registration-container, .login-container {
  width: 65%;
  height: 54vh;
  background: $grey;
  display: flex;
  flex-direction: column;
  @include for-medium {
    justify-content: space-between;
    flex-direction: row;
  }
}
.registration-info, .login-info {
  text-align: center;
  justify-content: center;
  align-items: center;
  @include for-medium {
    width: 45%;
    height: 54vh;
  }
  p {
    width: 80%;
  }
  h1 {
    font-family: $accent-font;
    font-size: 40px;
    color: whitesmoke;
  }
  p {
    font-size: 12px;
    font-weight: 300;
    color: white;
    margin: 0 auto;
  }
  div {
    padding: 25px;
    @include for-medium {
      margin-top: 35px;
      padding: 0px;
      &::before, &::after {
        content: '';
        background: whitesmoke;
        width: 2px;
        height: 7vh;
        display: block;
        margin: 10px auto;
        transform: rotate(20deg);
      }
      &::after {
        margin-top: 20px;
      }
    }
  }
}
.registration-form, .login-form {
  padding: 25px;
  box-sizing: border-box;
  overflow: auto;
  @include for-medium {
    width: 55%;
  }
  h1 {
    font-family: $accent-font;
    font-size: 25px;
    text-transform: uppercase;
    &::after {
      content: '';
      width: 10%;
      height: 2px;
      margin-bottom: 10px;
      display: block;
    }
  }
}
/* REGISTRATION */
.registration-container {
  .close {
    @include for-medium {
      color: $blue;
    }
  }
}
.registration-info {
  background: $blue;
}
.registration-form {
  h1 {
    color: $pink;
    &::after {
      background: $pink;
    }
    &:nth-of-type(2) {
      margin-top: 5px;
    }
  }
  input {
    width: 92%;
    &[type="submit"] {
      width: 98%;
      background: $pink;
      font-family: $accent-font;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 15px;
      color: $grey;
      &:focus {
        border: 0px;
      }
    }
  }
  @include for-medium {
    input {
      width: 85%;
      &[type="submit"] {
        width: 92%;
      }
    }
  }
  @media (min-width: 1088px) {
    input {
      width: 40%;
      &:nth-of-type(7) {
        width: calc(80% + 35px);
      }
      &[type="submit"] {
        width: calc(80% + 56px);
      }
    }
  }
}
/* LOGIN */
.login-container {
  .close {
    @include for-medium {
      color: lighten($pink, 10%);
    }
  }
}
.login-info {
  background: lighten($pink, 10%);
}
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: $blue;
    &::after {
      background: $blue;
    }
  }
  input {
    width: 92%;
    &[type="submit"] {
      width: 98%;
      background: $blue;
      font-family: $accent-font;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 15px;
      color: $grey;
      &:focus {
        border: 0px;
      }
    }
  }
}

/* ================ LANDING ================= */
.landing-container {
  @include for-medium {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  display: flex;
  flex-direction: column-reverse;
  h1 {
    font-family: $accent-font;
    font-size: 100px;
  }
  p {
    font-size: 13px;
    font-weight: 300;
  }
  background: url('../img/landingpg.png');
  background-size: cover;
}
.accent-box {
  background: $grey;
  background-size: cover;
  height: 50vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include for-medium {
    width: 50%;
    height: 100vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
  }
  svg {
    @include for-medium {
      width: 120%;
      margin-left: -20%;
    }
    width: 80%;
  }
  .accent {
    @include animation(fadein 5s);
  }
  .hello-world {
    color: $pink;
    font-family: $accent-font;
    font-size: 40px;
    height: 50px;
    overflow: hidden;
    margin: 50px auto 0 auto;
    -webkit-font-smoothing: antialiased;
    @include for-medium {
      margin: 0 0 0 -20%;
    }
    ul {
      list-style-type: none;
      @include animation(ticker 25s cubic-bezier(1, 0, .5, 0) infinite);
      line-height: 50px;
    }
    @keyframes ticker {
    	0%   {margin-top: 0}
    	10%  {margin-top: -50px}
    	20%  {margin-top: -100px}
    	30%  {margin-top: -150px}
    	40%  {margin-top: -200px}
      50%  {margin-top: -250px}
      60%  {margin-top: -300px}
      70%  {margin-top: -350px}
      80%  {margin-top: -400px}
      90%  {margin-top: -450px}
      100% {margin-top: 0}
    }
  }
}
.info-box {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  @include for-medium {
    width: 50%;
    height: 100vh;
  }
  .info {
    width: 60%;
    @include for-medium {
      width: 70%;
    }
    &::before, &::after {
      content: '';
      background: whitesmoke;
      width: 2px;
      height: 8vh;
      @include for-medium {
        height: 15vh;
      }
      display: block;
      margin: 0 auto;
      transform: rotate(20deg);
    }
    &::after {
      margin: 5% 40%;
    }
  }
  @include animation(fadein 5s);
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* ================ PROFILE ================= */
.profile-stats-container, .profile-stats-scroll {
  width: 100%;
  position: fixed;
  z-index: 1;
  background: linear-gradient(to right, $blue, $purple);
}
.profile-stats-container {
  height: 105vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 44%, 0 44%);
  clip-path: polygon(0 0, 100% 0, 100% 44%, 0 44%);
  @include for-medium {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 24%, 0 38%);
    clip-path: polygon(0 0, 100% 0, 100% 24%, 0 38%);
  }
  @include transition(0.2s ease-in);
}
.profile-stats-scroll {
  height: 20vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 44%, 0 44%);
  clip-path: polygon(0 0, 100% 0, 100% 44%, 0 44%);
  @include for-medium {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 54%, 0 54%);
    clip-path: polygon(0 0, 100% 0, 100% 54%, 0 54%);
  }
  @include transition(0.2s ease-in);
  .profile-stats {
    display: none;
  }
}
.profile-stats {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 80px 18%;
  @include for-medium {
    margin: 50px 90px;
  }
  @include for-large {
    margin: 55px 140px;
  }
}
.profile-img {
  width: 150px;
  height: 150px;
  border: 0.5px solid $grey;
  border-radius: 150px;
}
.profile-nums {
  width: 67%;
  .row {
    width: 58%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: $grey;
    text-shadow: 1px 1px $faded-purp;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    strong {
      font-family: $accent-font;
      font-size: 15px;
      &::after {
        content: '';
        width: 30px;
        height: 1px;
        background: $grey;
        box-shadow: 1px 1px $faded-purp;
        display: block;
        margin-top: 2px;
      }
    }
    span {
      width: 50%;
    }
  }
  h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 1px 1px $faded-purp;
    color: $grey;
  }
}
.window-top {
  text-align: center;
  font-family: $accent-font;
  font-weight: 700;
  color: darken($grey, 30%);
}
.content-container {
  width: 100%;
  margin-top: 36vh;
  position: absolute;
  @include for-medium{
    margin-top: 26vh;
    display: flex;
    justify-content: space-around;
  }
}
.sidebar-container {
  margin-top: 8vh;
  padding: 49px 20px;
  height: auto;
  box-sizing: border-box;
  @include for-medium {
    width: 30%;
    background: whitesmoke;
    min-height: calc(100vh - 26vh - 8vh);
    max-height: 90vh;
  }
  .sidebar-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    .btn {
      width: 40%;
      padding: 10px;
      background: $pink;
      border-radius: 3px;
      font-family: $accent-font;
      text-align: center;
      color: $grey;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .sidebar-bio {
    h3 {
      font-family: $accent-font;
      text-transform: uppercase;
      font-size: 22px;
      color: $faded-purp;
      padding: 10px;
      border-bottom: 1px solid $grey;
    }
    p {
      font-size: 13px;
      font-weight: 300;
      padding: 10px;
    }
  }
  .sidebar-follow {
    display: none;
    @include for-medium {
      display: block;
    }
    .sidebar-follow-links {
      display: flex;
      justify-content: space-between;
      font-family: $accent-font;
      text-transform: uppercase;
      font-size: 22px;
      border-bottom: 1px solid $grey;
      padding: 10px;
      a {
        color: $faded-purp;
        &.selected {
          font-weight: 700;
        }
      }
    }
    .sidebar-followers-container {
      padding: 10px;
      height: 50vh;
      overflow: auto;
      .sidebar-followers {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
      }
      .follow-img {
        width: 50px;
        height: 50px;
        border-radius: 3px;
      }
      .follow-info {
        width: calc(100% - 70px);
        font-size: 13px;
        font-style: italic;
        color: darken($grey, 30%);
        a {
          @include transition(0.5s ease-in);
          &:hover {
            color: $blue;
            @include transition(0.5s ease-in);
          }
        }
      }
      h3 {
        font-size: 17px;
        font-style: normal;
        color: $pink;
      }
    }
  }
}
.rivs-container {
  width: 90%;
  padding: 55px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  background: whitesmoke;
  @include for-medium {
    margin: 0 0;
    width: 50%;
  }
  .rivs-filters {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid $grey;
    display: flex;
    justify-content: space-around;
    strong {
      font-family: $accent-font;
      font-size: 22px;
      text-transform: uppercase;
      color: $pink;
    }
    a {
      color: $blue;
      font-family: $accent-font;
      font-weight: 300;
      font-size: 22px;
      text-transform: uppercase;
      &.selected {
          color: $faded-purp;
      }
    }
  }
  .rivs {
    width: 100%;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    .rivs-user-img {
      width: 60px;
      height: 60px;
      border-radius: 3px;
    }
    .rivs-photo {
      width: 98%;
      height: 200px;
      border-radius: 3px;
      margin-top: 15px;
      &:hover {
        cursor: pointer;
      }
    }
    .rivs-content {
      width: 88%;
      font-size: 12px;
      @include for-medium {
        width: 85%;
      }
      strong {
        color: $faded-purp;
        font-size: 13px;
      }
      span {
        color: #aaa;
        font-size: 13px;
      }
    }
    .rivs-reply, .rivs-correction, .rivs-translation {
      width: 100%;
      margin-top: 10px;
      strong {
        font-family: $accent-font;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: $blue;
      }
      div {
        display: flex;
        justify-content: space-between;
        padding: 10px;
      }
      select {
        width: 20%;
      }
      textarea {
        resize: none;
        width: 93%;
        height: 6vh;
        border: 1px solid darken($grey, 10%);
        margin-bottom: 0px;
      }
      input[type="submit"] {
        background: $pink;
        width: 96%;
        @include for-medium {
          width: 97.5%;
        }
        margin-top: 0px;
        font-family: $accent-font;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: $grey;
        &:focus {
          border: 1px solid $pink;
        }
      }
    }
    .rivs-actions {
      color: darken($grey, 30%);
      width: 50%;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      i {
        @include transition (0.2s ease-in);
        &:hover {
          color: $purple;
          cursor: pointer;
          @include transition (0.2s ease-in);
        }
      }
    }
  }
}
