@charset "UTF-8";
/* ================ VARIABLES =============== */
/* COLORS */
/* FONTS */
/* ================ MIXINS ================== */
/* BREAKPOINTS */
/* TRANSITION & ANIMATION */
/* ================ GENERAL ================= */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
  background: #E9E9E9; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

input, textarea, select {
  border: 1px solid #e4e4e4;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  background: whitesmoke; }

input:focus, textarea:focus, select:focus {
  outline: none;
  border: 1px solid #a89bbd; }

input[placeholder] {
  text-transform: uppercase;
  font-family: "Open Sans", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
  font-size: 10px; }

/* ================ NAVBAR ================== */
nav {
  width: 100%;
  height: 8vh;
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: white;
  z-index: 2; }
  nav .logo {
    padding: 20px; }
    nav .logo:hover .logo-name {
      width: 100%;
      cursor: pointer;
      transition: 1.5s ease-in;
      -moz-transition: 1.5s ease-in;
      -webkit-transition: 1.5s ease-in;
      -o-transition: 1.5s ease-in; }
  nav .logo-name {
    width: 0px;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    margin: -3px 0 0 10px;
    font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: #5F0F4E;
    text-transform: uppercase;
    transition: 1.5s ease-out;
    -moz-transition: 1.5s ease-out;
    -webkit-transition: 1.5s ease-out;
    -o-transition: 1.5s ease-out; }
  nav ul {
    list-style-type: none;
    padding: 20px; }
  nav li {
    display: inline-block;
    margin: 5px 10px; }
  nav a {
    font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: whitesmoke;
    position: relative;
    transition: color 0.5s;
    -moz-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s; }
    nav a::before {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      max-width: 0;
      border-bottom: 2px solid #E52A6F;
      color: #E52A6F;
      content: attr(data-hover);
      transition: max-width 0.5s;
      -moz-transition: max-width 0.5s;
      -webkit-transition: max-width 0.5s;
      -o-transition: max-width 0.5s; }
    nav a:hover {
      color: #E52A6F;
      transition: color 1s;
      -moz-transition: color 1s;
      -webkit-transition: color 1s;
      -o-transition: color 1s; }
      nav a:hover::before {
        max-width: 100%; }
  nav svg {
    width: 10%;
    color: #E52A6F; }
    nav svg:hover {
      cursor: pointer; }

/* ================ MODALS ================== */
.modal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 3; }

.close {
  color: #E9E9E9;
  font-size: 20px;
  margin: 5px 10px;
  position: fixed;
  right: 17.5%; }
  .close i {
    transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in; }
    .close i:hover {
      cursor: pointer;
      color: #6a6a6a;
      transition: 0.5s ease-in;
      -moz-transition: 0.5s ease-in;
      -webkit-transition: 0.5s ease-in;
      -o-transition: 0.5s ease-in; }

.image-close {
  top: 0;
  right: 0; }

/* SHARED */
.registration-container, .login-container {
  width: 65%;
  height: 54vh;
  background: #E9E9E9;
  display: flex;
  flex-direction: column; }
  @media (min-width: 900px) {
    .registration-container, .login-container {
      justify-content: space-between;
      flex-direction: row; } }

.registration-info, .login-info {
  text-align: center;
  justify-content: center;
  align-items: center; }
  @media (min-width: 900px) {
    .registration-info, .login-info {
      width: 45%;
      height: 54vh; } }
  .registration-info p, .login-info p {
    width: 80%; }
  .registration-info h1, .login-info h1 {
    font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
    font-size: 40px;
    color: whitesmoke; }
  .registration-info p, .login-info p {
    font-size: 12px;
    font-weight: 300;
    color: white;
    margin: 0 auto; }
  .registration-info div, .login-info div {
    padding: 25px; }
    @media (min-width: 900px) {
      .registration-info div, .login-info div {
        margin-top: 35px;
        padding: 0px; }
        .registration-info div::before, .registration-info div::after, .login-info div::before, .login-info div::after {
          content: '';
          background: whitesmoke;
          width: 2px;
          height: 7vh;
          display: block;
          margin: 10px auto;
          transform: rotate(20deg); }
        .registration-info div::after, .login-info div::after {
          margin-top: 20px; } }

.registration-form, .login-form {
  padding: 25px;
  box-sizing: border-box;
  overflow: auto; }
  @media (min-width: 900px) {
    .registration-form, .login-form {
      width: 55%; } }
  .registration-form h1, .login-form h1 {
    font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
    font-size: 25px;
    text-transform: uppercase; }
    .registration-form h1::after, .login-form h1::after {
      content: '';
      width: 10%;
      height: 2px;
      margin-bottom: 10px;
      display: block; }

/* REGISTRATION */
@media (min-width: 900px) {
  .registration-container .close {
    color: #67AECA; } }

.registration-info {
  background: #67AECA; }

.registration-form h1 {
  color: #E52A6F; }
  .registration-form h1::after {
    background: #E52A6F; }
  .registration-form h1:nth-of-type(2) {
    margin-top: 5px; }
.registration-form input {
  width: 92%; }
  .registration-form input[type="submit"] {
    width: 98%;
    background: #E52A6F;
    font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color: #E9E9E9; }
    .registration-form input[type="submit"]:focus {
      border: 0px; }
@media (min-width: 900px) {
  .registration-form input {
    width: 85%; }
    .registration-form input[type="submit"] {
      width: 92%; } }
@media (min-width: 1088px) {
  .registration-form input {
    width: 40%; }
    .registration-form input:nth-of-type(7) {
      width: calc(80% + 35px); }
    .registration-form input[type="submit"] {
      width: calc(80% + 56px); } }

/* LOGIN */
@media (min-width: 900px) {
  .login-container .close {
    color: #eb578e; } }

.login-info {
  background: #eb578e; }

.login-form {
  display: flex;
  justify-content: center;
  align-items: center; }
  .login-form h1 {
    color: #67AECA; }
    .login-form h1::after {
      background: #67AECA; }
  .login-form input {
    width: 92%; }
    .login-form input[type="submit"] {
      width: 98%;
      background: #67AECA;
      font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 15px;
      color: #E9E9E9; }
      .login-form input[type="submit"]:focus {
        border: 0px; }

.login-error {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #E52A6F; }

/* ================ LANDING ================= */
.landing-container {
  display: flex;
  flex-direction: column-reverse;
  background: url("../img/landingpg.png");
  background-size: cover; }
  @media (min-width: 900px) {
    .landing-container {
      display: flex;
      justify-content: space-between;
      flex-direction: row; } }
  .landing-container h1 {
    font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
    font-size: 100px; }
  .landing-container p {
    font-size: 13px;
    font-weight: 300; }

.accent-box {
  background: #E9E9E9;
  background-size: cover;
  height: 50vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  @media (min-width: 900px) {
    .accent-box {
      width: 50%;
      height: 100vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%); } }
  .accent-box svg {
    width: 80%; }
    @media (min-width: 900px) {
      .accent-box svg {
        width: 120%;
        margin-left: -20%; } }
  .accent-box .accent {
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; }
  .accent-box .hello-world {
    color: #E52A6F;
    font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
    font-size: 40px;
    height: 50px;
    overflow: hidden;
    margin: 50px auto 0 auto;
    -webkit-font-smoothing: antialiased; }
    @media (min-width: 900px) {
      .accent-box .hello-world {
        margin: 0 0 0 -20%; } }
    .accent-box .hello-world ul {
      list-style-type: none;
      animation: ticker 25s cubic-bezier(1, 0, 0.5, 0) infinite;
      -moz-animation: ticker 25s cubic-bezier(1, 0, 0.5, 0) infinite;
      -webkit-animation: ticker 25s cubic-bezier(1, 0, 0.5, 0) infinite;
      -o-animation: ticker 25s cubic-bezier(1, 0, 0.5, 0) infinite;
      line-height: 50px; }
@keyframes ticker {
  0% {
    margin-top: 0; }
  10% {
    margin-top: -50px; }
  20% {
    margin-top: -100px; }
  30% {
    margin-top: -150px; }
  40% {
    margin-top: -200px; }
  50% {
    margin-top: -250px; }
  60% {
    margin-top: -300px; }
  70% {
    margin-top: -350px; }
  80% {
    margin-top: -400px; }
  90% {
    margin-top: -450px; }
  100% {
    margin-top: 0; } }
.info-box {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  animation: fadein 5s;
  -moz-animation: fadein 5s;
  -webkit-animation: fadein 5s;
  -o-animation: fadein 5s; }
  @media (min-width: 900px) {
    .info-box {
      width: 50%;
      height: 100vh; } }
  .info-box .info {
    width: 60%; }
    @media (min-width: 900px) {
      .info-box .info {
        width: 70%; } }
    .info-box .info::before, .info-box .info::after {
      content: '';
      background: whitesmoke;
      width: 2px;
      height: 8vh;
      display: block;
      margin: 0 auto;
      transform: rotate(20deg); }
      @media (min-width: 900px) {
        .info-box .info::before, .info-box .info::after {
          height: 15vh; } }
    .info-box .info::after {
      margin: 5% 40%; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* ================ PROFILE ================= */
.empty {
  font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #9d9d9d;
  width: 95%;
  height: 30vh;
  background: #E9E9E9;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center; }

.profile-stats-container, .profile-stats-scroll {
  width: 100%;
  position: fixed;
  z-index: 1;
  background: linear-gradient(to right, #67AECA, #5F0F4E); }

.profile-stats-container {
  height: 105vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 44%, 0 44%);
  clip-path: polygon(0 0, 100% 0, 100% 44%, 0 44%);
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in; }
  @media (min-width: 900px) {
    .profile-stats-container {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 24%, 0 38%);
      clip-path: polygon(0 0, 100% 0, 100% 24%, 0 38%); } }

.profile-stats-scroll {
  height: 20vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 44%, 0 44%);
  clip-path: polygon(0 0, 100% 0, 100% 44%, 0 44%);
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in; }
  @media (min-width: 900px) {
    .profile-stats-scroll {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 54%, 0 54%);
      clip-path: polygon(0 0, 100% 0, 100% 54%, 0 54%); } }
  .profile-stats-scroll .profile-stats {
    display: none; }

.profile-stats {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 80px 18%; }
  @media (min-width: 900px) {
    .profile-stats {
      margin: 50px 90px; } }
  @media (min-width: 1200px) {
    .profile-stats {
      margin: 55px 140px; } }

.profile-img {
  width: 150px;
  height: 150px;
  border: 0.5px solid #E9E9E9;
  border-radius: 150px; }

.profile-nums {
  width: 67%; }
  .profile-nums .row {
    width: 58%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #E9E9E9;
    text-shadow: 1px 1px #675682;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300; }
    .profile-nums .row strong {
      font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
      font-size: 15px; }
      .profile-nums .row strong::after {
        content: '';
        width: 30px;
        height: 1px;
        background: #E9E9E9;
        box-shadow: 1px 1px #675682;
        display: block;
        margin-top: 2px; }
    .profile-nums .row span {
      width: 50%; }
  .profile-nums h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 1px 1px #675682;
    color: #E9E9E9; }

.window-top {
  text-align: center;
  font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
  font-weight: 700;
  color: #9d9d9d; }

.content-container {
  width: 100%;
  margin-top: 36vh;
  position: absolute; }
  @media (min-width: 900px) {
    .content-container {
      margin-top: 26vh;
      display: flex;
      justify-content: space-around; } }

.sidebar-container {
  margin-top: 8vh;
  padding: 49px 20px;
  height: auto;
  box-sizing: border-box; }
  @media (min-width: 900px) {
    .sidebar-container {
      width: 30%;
      background: whitesmoke;
      min-height: calc(100vh - 26vh - 8vh);
      max-height: 90vh; } }
  .sidebar-container .sidebar-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; }
    .sidebar-container .sidebar-buttons .btn {
      width: 40%;
      padding: 10px;
      background: #E52A6F;
      border-radius: 3px;
      font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
      text-align: center;
      color: #E9E9E9; }
      .sidebar-container .sidebar-buttons .btn:hover {
        cursor: pointer; }
  .sidebar-container .sidebar-bio h3 {
    font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    color: #675682;
    padding: 10px;
    border-bottom: 1px solid #E9E9E9; }
  .sidebar-container .sidebar-bio p {
    font-size: 13px;
    font-weight: 300;
    padding: 10px; }
  .sidebar-container .sidebar-follow {
    display: none; }
    @media (min-width: 900px) {
      .sidebar-container .sidebar-follow {
        display: block; } }
    .sidebar-container .sidebar-follow .sidebar-follow-links {
      display: flex;
      justify-content: space-between;
      font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
      text-transform: uppercase;
      font-size: 22px;
      border-bottom: 1px solid #E9E9E9;
      padding: 10px; }
      .sidebar-container .sidebar-follow .sidebar-follow-links a {
        color: #675682; }
        .sidebar-container .sidebar-follow .sidebar-follow-links a.selected {
          font-weight: 700; }
    .sidebar-container .sidebar-follow .sidebar-followers-container {
      padding: 10px;
      max-height: 50vh;
      overflow: auto; }
      .sidebar-container .sidebar-follow .sidebar-followers-container .sidebar-followers {
        display: flex;
        justify-content: space-between;
        margin-top: 15px; }
      .sidebar-container .sidebar-follow .sidebar-followers-container .follow-img {
        width: 50px;
        height: 50px;
        border-radius: 3px; }
      .sidebar-container .sidebar-follow .sidebar-followers-container .follow-info {
        width: calc(100% - 70px);
        font-size: 13px;
        font-style: italic;
        color: #9d9d9d; }
        .sidebar-container .sidebar-follow .sidebar-followers-container .follow-info a {
          color: #E52A6F;
          transition: 0.5s ease-in;
          -moz-transition: 0.5s ease-in;
          -webkit-transition: 0.5s ease-in;
          -o-transition: 0.5s ease-in; }
          .sidebar-container .sidebar-follow .sidebar-followers-container .follow-info a:hover {
            color: #67AECA;
            transition: 0.5s ease-in;
            -moz-transition: 0.5s ease-in;
            -webkit-transition: 0.5s ease-in;
            -o-transition: 0.5s ease-in; }
      .sidebar-container .sidebar-follow .sidebar-followers-container h3 {
        font-size: 15px;
        font-style: normal;
        color: #E52A6F; }

.rivs-container {
  width: 90%;
  padding: 55px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  background: whitesmoke; }
  @media (min-width: 900px) {
    .rivs-container {
      margin: 0 0;
      width: 50%; } }

.rivs-filters {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #E9E9E9;
  display: flex;
  justify-content: space-around; }
  .rivs-filters strong {
    font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: #E52A6F; }
  .rivs-filters a {
    color: #67AECA;
    font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase; }
    .rivs-filters a.selected {
      color: #675682; }

.rivs {
  width: 100%;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #E9E9E9;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap; }
  .rivs .rivs-user-img {
    width: 60px;
    height: 60px;
    border-radius: 3px; }
  .rivs .rivs-photo {
    width: 98%;
    height: 200px;
    border-radius: 3px;
    margin-top: 15px; }
    .rivs .rivs-photo:hover {
      cursor: pointer; }
  .rivs .rivs-content {
    width: 88%;
    font-size: 12px; }
    @media (min-width: 900px) {
      .rivs .rivs-content {
        width: 85%; } }
    .rivs .rivs-content strong, .rivs .rivs-content strong a {
      color: #675682;
      font-size: 13px; }
    .rivs .rivs-content span.at-user {
      color: #aaa;
      font-size: 13px; }
  .rivs s.correction {
    color: #E52A6F; }
  .rivs span.correction {
    color: #67AECA; }
  .rivs .rivs-reply, .rivs .rivs-correction, .rivs .rivs-translation {
    width: 100%;
    margin-top: 10px; }
    .rivs .rivs-reply strong, .rivs .rivs-correction strong, .rivs .rivs-translation strong {
      font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #67AECA; }
    .rivs .rivs-reply div, .rivs .rivs-correction div, .rivs .rivs-translation div {
      display: flex;
      justify-content: space-between;
      padding: 10px; }
    .rivs .rivs-reply select, .rivs .rivs-correction select, .rivs .rivs-translation select {
      width: 20%; }
    .rivs .rivs-reply textarea, .rivs .rivs-correction textarea, .rivs .rivs-translation textarea {
      resize: none;
      width: 93%;
      height: 6vh;
      border: 1px solid #d0d0d0;
      margin-bottom: 0px; }
    .rivs .rivs-reply input[type="submit"], .rivs .rivs-correction input[type="submit"], .rivs .rivs-translation input[type="submit"] {
      background: #E52A6F;
      width: 96%;
      margin-top: 0px;
      font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      color: #E9E9E9; }
      @media (min-width: 900px) {
        .rivs .rivs-reply input[type="submit"], .rivs .rivs-correction input[type="submit"], .rivs .rivs-translation input[type="submit"] {
          width: 97.5%; } }
      .rivs .rivs-reply input[type="submit"]:focus, .rivs .rivs-correction input[type="submit"]:focus, .rivs .rivs-translation input[type="submit"]:focus {
        border: 1px solid #E52A6F; }
  .rivs .rivs-actions {
    color: #9d9d9d;
    width: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between; }
    .rivs .rivs-actions i:hover {
      color: #5F0F4E;
      cursor: pointer; }
    .rivs .rivs-actions i.liked {
      color: #5F0F4E; }

/* ============ HOME (TIMELINE) ============= */
.home-nav {
  width: 100%;
  height: 10vh;
  background: linear-gradient(to right, #67AECA, #5F0F4E);
  position: fixed; }

.home-container {
  display: flex;
  justify-content: space-around;
  padding-top: 100px; }

.user-stats {
  width: 30%;
  max-height: 44vh;
  padding: 20px;
  background: whitesmoke;
  box-sizing: border-box;
  font-weight: 300; }
  .user-stats h3 {
    color: #E52A6F;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
    font-size: 30px;
    border-bottom: 1px solid #E9E9E9;
    padding: 5px;
    margin-bottom: 10px; }
  .user-stats span {
    font-size: 13px; }

.user-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  .user-content .row {
    display: flex;
    justify-content: space-between;
    text-align: center; }
    .user-content .row:nth-of-type(1) {
      margin-bottom: 5px; }
    .user-content .row span {
      width: 50%;
      font-size: 12px;
      text-transform: uppercase; }
    .user-content .row strong {
      display: block;
      color: #67AECA;
      font-family: "Open Sans Condensed", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", "MS PGothic", Osaka, "Apple SD Gothic Neo", sans-serif;
      font-size: 15px; }

.user-img {
  width: 75px;
  height: 75px;
  border-radius: 75px; }

.user-num {
  width: 70%; }

.timeline {
  width: 50%;
  min-height: 90vh;
  padding: 0px 20px 20px 20px;
  box-sizing: border-box;
  background: whitesmoke; }

/*# sourceMappingURL=main.css.map */
