/* ================ VARIABLES =============== */
/* COLORS */
/* FONTS */
/* ================ MIXINS ================== */
/* BREAKPOINTS */
/* TRANSITION & ANIMATION */
/* ================ GENERAL ================= */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none; }

input {
  border: 1px solid #e4e4e4;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  background: whitesmoke; }

input:focus {
  outline: none;
  border: 1px solid #a89bbd; }

input[placeholder] {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 10px; }

/* ================ NAVBAR ================== */
nav {
  width: 100%;
  height: 8vh;
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: white;
  z-index: 1; }
  nav .logo {
    padding: 20px; }
    nav .logo:hover .logo-name {
      width: 100%;
      transition: 1.5s ease-in;
      -moz-transition: 1.5s ease-in;
      -webkit-transition: 1.5s ease-in;
      -o-transition: 1.5s ease-in; }
  nav .logo-name {
    width: 0px;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    margin: -3px 0 0 10px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: #5F0F4E;
    text-transform: uppercase;
    transition: 1.5s ease-out;
    -moz-transition: 1.5s ease-out;
    -webkit-transition: 1.5s ease-out;
    -o-transition: 1.5s ease-out; }
  nav ul {
    list-style-type: none;
    padding: 20px; }
  nav li {
    display: inline-block;
    margin: 5px 10px; }
  nav a {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: whitesmoke;
    position: relative;
    transition: color 0.5s;
    -moz-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s; }
    nav a::before {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      max-width: 0;
      border-bottom: 2px solid #E52A6F;
      color: #E52A6F;
      content: attr(data-hover);
      transition: max-width 0.5s;
      -moz-transition: max-width 0.5s;
      -webkit-transition: max-width 0.5s;
      -o-transition: max-width 0.5s; }
    nav a:hover {
      color: #E52A6F;
      transition: color 1s;
      -moz-transition: color 1s;
      -webkit-transition: color 1s;
      -o-transition: color 1s; }
      nav a:hover::before {
        max-width: 100%; }
  nav svg {
    width: 10%;
    color: #E52A6F; }

/* ================ MODALS ================== */
.modal {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 1; }

.close {
  color: #E9E9E9;
  font-size: 20px;
  margin: 5px 10px;
  position: fixed;
  right: 17.5%; }
  @media (min-width: 900px) {
    .close {
      color: #67AECA; } }
  .close i {
    transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in; }
    .close i:hover {
      cursor: pointer;
      color: #6a6a6a;
      transition: 0.5s ease-in;
      -moz-transition: 0.5s ease-in;
      -webkit-transition: 0.5s ease-in;
      -o-transition: 0.5s ease-in; }

.registration-container {
  width: 65%;
  height: 54vh;
  background: #E9E9E9;
  display: flex;
  flex-direction: column; }
  @media (min-width: 900px) {
    .registration-container {
      justify-content: space-between;
      flex-direction: row; } }

.registration-info {
  background: #67AECA;
  text-align: center;
  justify-content: center;
  align-items: center; }
  @media (min-width: 900px) {
    .registration-info {
      width: 45%;
      height: 54vh; } }
  .registration-info h1 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 40px;
    color: whitesmoke; }
  .registration-info p {
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 300;
    color: white; }
  .registration-info div {
    padding: 25px; }
    @media (min-width: 900px) {
      .registration-info div {
        margin-top: 35px;
        padding: 0px; }
        .registration-info div::before, .registration-info div::after {
          content: '';
          background: whitesmoke;
          width: 2px;
          height: 7vh;
          display: block;
          margin: 10px auto;
          transform: rotate(20deg); }
        .registration-info div::after {
          margin-top: 20px; } }

.registration-form {
  padding: 25px;
  box-sizing: border-box;
  overflow: auto; }
  @media (min-width: 900px) {
    .registration-form {
      width: 55%; } }
  .registration-form h1 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 25px;
    color: #E52A6F;
    text-transform: uppercase; }
    .registration-form h1::after {
      content: '';
      width: 10%;
      height: 2px;
      margin-bottom: 10px;
      display: block;
      background: #E52A6F; }
    .registration-form h1:nth-of-type(2) {
      margin-top: 5px; }
  .registration-form input {
    width: 95%; }
    .registration-form input[type="submit"] {
      width: 99.5%;
      background: #E52A6F;
      font-family: "Open Sans Condensed", sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 15px;
      color: #E9E9E9; }
      .registration-form input[type="submit"]:focus {
        border: 0px; }
  @media (min-width: 900px) {
    .registration-form input {
      width: 85%; }
      .registration-form input[type="submit"] {
        width: 95%; } }
  @media (min-width: 1088px) {
    .registration-form input {
      width: 40%; }
      .registration-form input:nth-of-type(7) {
        width: calc(80% + 35px); }
      .registration-form input[type="submit"] {
        width: calc(80% + 56px); } }

/* ================ LANDING ================= */
.landing-container {
  display: flex;
  flex-direction: column-reverse;
  background: url("../img/idk.png");
  background-size: cover; }
  @media (min-width: 900px) {
    .landing-container {
      display: flex;
      justify-content: space-between;
      flex-direction: row; } }
  .landing-container h1 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 100px; }
  .landing-container p {
    font-size: 13px;
    font-weight: 300; }

.accent-box {
  background: #E9E9E9;
  background-size: cover;
  height: 50vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  @media (min-width: 900px) {
    .accent-box {
      width: 50%;
      height: 100vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%); } }
  .accent-box svg {
    width: 80%; }
    @media (min-width: 900px) {
      .accent-box svg {
        width: 120%;
        margin-left: -20%; } }
  .accent-box .accent {
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; }
  .accent-box .hello-world {
    color: #E52A6F;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 40px;
    height: 50px;
    overflow: hidden;
    margin: 50px auto 0 auto;
    -webkit-font-smoothing: antialiased; }
    @media (min-width: 900px) {
      .accent-box .hello-world {
        margin: 0 0 0 -20%; } }
    .accent-box .hello-world ul {
      list-style-type: none;
      animation: ticker 25s cubic-bezier(1, 0, 0.5, 0) infinite;
      -moz-animation: ticker 25s cubic-bezier(1, 0, 0.5, 0) infinite;
      -webkit-animation: ticker 25s cubic-bezier(1, 0, 0.5, 0) infinite;
      -o-animation: ticker 25s cubic-bezier(1, 0, 0.5, 0) infinite;
      line-height: 50px; }
@keyframes ticker {
  0% {
    margin-top: 0; }
  10% {
    margin-top: -50px; }
  20% {
    margin-top: -100px; }
  30% {
    margin-top: -150px; }
  40% {
    margin-top: -200px; }
  50% {
    margin-top: -250px; }
  60% {
    margin-top: -300px; }
  70% {
    margin-top: -350px; }
  80% {
    margin-top: -400px; }
  90% {
    margin-top: -450px; }
  100% {
    margin-top: 0; } }
.info-box {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  animation: fadein 5s;
  -moz-animation: fadein 5s;
  -webkit-animation: fadein 5s;
  -o-animation: fadein 5s; }
  @media (min-width: 900px) {
    .info-box {
      width: 50%;
      height: 100vh; } }
  .info-box .info {
    width: 60%; }
    @media (min-width: 900px) {
      .info-box .info {
        width: 70%; } }
    .info-box .info::before, .info-box .info::after {
      content: '';
      background: whitesmoke;
      width: 2px;
      height: 8vh;
      display: block;
      margin: 0 auto;
      transform: rotate(20deg); }
      @media (min-width: 900px) {
        .info-box .info::before, .info-box .info::after {
          height: 15vh; } }
    .info-box .info::after {
      margin: 5% 40%; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
