<div class="rivs-user-img" style="
  background:url('{{vm.profileUser.profile_photo}}');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;" ng-click="vm.modalToggle('image', $index)">
</div>
<div class="rivs-content">
  <strong>{{vm.profileUser.display_name || vm.profileUser.username}}</strong> <span class="at-user">corrected</span> <em ng-if="!correction.riv">deleted</em> <strong ng-if="correction.riv"><a ng-href="#!/{{correction.riv.user.username}}">{{correction.riv.user.display_name}}</a></strong><br />
  <em ng-if="!correction.riv">original riv deleted</em>
  <s class="correction" ng-if="correction.riv">{{correction.riv.content}}</s><br />
  <span class="correction">{{correction.content}}</span>
  <div ng-if="correction.photo" class="rivs-photo" style="background: url('{{correction.photo}}'); background-size: cover; background-position: center; background-repeat: no-repeat;" ng-click="vm.modalToggle('image', correction)"></div>
  <div class="rivs-actions">
    <i class="fa fa-star" aria-hidden="true" ng-click="vm.favoriteRivReply('reply', currentUser.id, correction)" ng-class="{liked: correction.liked}"></i>
    <i class="fa fa-globe" aria-hidden="true" ng-click="vm.toggleAction('translate', correction)"></i>
    <i class="fa fa-search" aria-hidden="true" ng-click="vm.modalToggle('details', correction, 'replies')"></i>
    <i class="fa fa-trash" aria-hidden="true" ng-if="vm.isCurrentUser" ng-click="vm.deleteOneReply(correction.id)"></i>
  </div>
</div>
<!-- ==== TRANSLATION BOX ================== -->
<div class="rivs-translation" ng-if="correction.translationBox" ng-include="'../partials/riv-forms/translate.html'"></div>
